@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


* {
    margin: 0;
    bottom: 0;
}

body {
    background-color: #f2e9e4;
    font-family: 'Open Sans', sans-serif;
}

.game-header {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.game-header p {
    font-size: 1.2em;
    margin-top: 20px;
}

.game-header .title {
    font-size: 3.8em;
    font-family: 'Monoton', sans-serif;
    margin-top: 50px;
}


/* home */


.body-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-container {
    background-color: #f2e9e4;
    width: 40%;
    padding-top: 20px;
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.buttons p {
    font-size: 2em;
    margin-bottom: 50px;
    color: #432818;
}

.buttons button {
    width: 50%;
    height: 7vh;
    font-size: 1.5em;
    margin-bottom: 20px;
    border: none;
    color: #f2e9e4;
    cursor: pointer;

}

.hard {
    background-color: #f94144;
}

.hard:hover {
    background-color: #d64649;
}

.medium {
    background-color: #f9c74f;
}

.medium:hover {
    background-color: #e0b34b;
}

.easy {
    background-color: #90be6d;
}

.easy:hover {
    background-color: #79a05b;
}

/* game */

.body-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-container {
    margin-top: 160px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


/* .img-container {
    width: 110px;
    height: 110px;
    float: left;
    border: 3px solid #ff99c8;
    border-radius: 8%;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
} */

/* 
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 */

.card-color {
    background-color: #ff99c8;
    transition: background-color 0.3s;
}

.card-color:hover {
    background-color: #ff6699;
    border-color: #ff6699;
}

.score-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1070px;
    color: #ff99c8;
    font-size: 1.5em;
    font-weight: bold;
}

.new-game-btn,
.end-btn {
    cursor: pointer;
    background-color: #ff99c8;
    color: #f2e9e4;
    border: none;
    font-size: 0.8em;
    font-weight: bold;
    padding: 8px 25px;
    margin: 0;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


.new-game-btn:hover {
    background-color: #d881a9;
}

.img-container {
    width: 110px;
    height: 110px;
    float: left;
    border: 3px solid #ff99c8;
    border-radius: 8%;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.img-container.clicked {
    transform: rotateY(180deg);
}

.img-container.clicked .img {
    transform: rotateY(0deg);
}

.end-text {
    font-size: 1.5em;
    margin-top: 150px;
}

.end-text h1 {
    margin-bottom: 5px;
}

.end-btn {
    padding: 12px 25px;
    margin-top: 10px;
    border-radius: 20px;
}